.mm-ocd {
  --mm-ocd-max-width: 300px;
  --mm-spn-item-height: 70px;
  top: 96px; //Should match with header size
  @apply bg-white bg-opacity-80;

  // &__content{

  //   @apply fixed top-0 pt-12;
  // }
}

.mm-ocd-opened {
  .mobile-nav-closer {
    display: inline-flex;
    .button__icon{
      @apply w-4 ;
    } 
  }
  .mobile-nav-opener {
    display: none;
  }

  .mm-ocd__content {
    transform: translate3d(0, 0, 0);
    background: #fff !important;
    box-shadow: -2px 6px 11px -6px #ccc;
    position: fixed;
    top: 63px;
    min-width: 75%;
    padding-top:10px;
  }
  
}
.mm-spn .mm-li {
  &:after {
    display: none;
  }
  &:before {
    border: none;
    height: 12px;    
    width: 12px;
    transform: none;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    background-repeat: no-repeat;
    right: 20px;
  }

  > span,
  > a {
    @apply text-white py-3 px-6;
 
  }
}

.mm-spn {
  &.mm-spn--navbar {
    &:after {
      @apply bg-p1-500 text-white opacity-100 text-left;
    }
    &:before {
      border: none;
      height: 12px;
    
      width: 12px;
      transform: rotate(180deg);
      top: 29px;
      margin: auto;
      opacity: 1;
      background-repeat: no-repeat;
      left: 20px;
      z-index: 2;
    }

    ul {
      &:before {
        display: none;
      }
    }
  }

  &.mm-spn--main {
    ul {
      top: 0;
    }
    &:after {
      display: none;
    }
  }
}

.mm-spn .mm-li > span, .mm-spn .mm-li > a {
  padding: 10px 25px;
}




.mm-spn .mm-li > span, .mm-spn .mm-li > a{
  @apply text-p2-300  font-body font-light;
}
.mobile-nav.mm-spn.mm-spn--GAF.mm-spn--navbar{
  @apply text-p2-300 ;
}
.mm-spn.mm-spn--navbar:after{
  @apply bg-transparent text-p2-300 ;
}
.mm-spn .mm-li:before{ 
  background-image: url('/icons/arrow-right.svg');
  content:"";height: 20px; width: 20px;
}
.mm-spn.mm-spn--navbar:before{
  background-image: url('/icons/arrow-left.svg');
  content:"";height: 20px;width: 20px;transform: rotateX(45deg);
}
.mm-spn--open.mm-spn--parent{
    >li{ @apply text-b4; }
  }
  .mm-li a{
  @apply text-d6 text-p2-300 ;
}.mobile-nav.mm-spn.mm-spn--GAF.mm-spn--navbar {
  font-size: 20px;  color:#443F3F;} 

nav.mobile-nav.mm-spn.mm-spn--GAF.mm-spn--navbar .mm-spn--open > li:first-child {
    font-size: 20px;
}
nav.mobile-nav.mm-spn.mm-spn--GAF.mm-spn--navbar .mm-spn--open  li{
  font-size: 20px;
}