@font-face {
  font-family: 'LL Riforma';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/riformaLL-sub-medium.woff2') format('woff2'),
    url('/fonts/riformaLL-sub-medium.woff') format('woff');
}