.footer-links {
  + .footer-links {
    @apply lg:mt-10;
  }
}

.footer-links__list {
  font-size: 16px;
  @apply hidden lg:block text-p1-700 py-4 space-y-2;
  a {
    @apply hover:underline;
  }
}

.footer-links__title {
  @apply flex items-center justify-between relative border-t-2 border-p1-500 lg:border-none;
  a {
    @apply py-4 lg:py-0 block font-bold hover:underline;
  }
}

.footer-toggle {
  @apply absolute w-14 h-14 right-0 top-0 bg-no-repeat bg-center lg:hidden transition-all;
  background-image: url('/icons/plus.svg');
  background-size: 16px;

  &.toggle--open {
    @apply transform rotate-45;
  }
}

.footer__social {
  @apply items-center mt-6  justify-end text-center;
  @apply lg:flex lg:text-right lg:mt-0 lg:ml-auto;
}

.footer__social-links {
  @apply flex justify-center space-x-4 mt-4 lg:mt-0 lg:ml-4;
  a {
    @apply w-10 h-10 flex justify-center items-center;
    img {
      @apply w-full;
    }
  }
}

.footer__imp-links {
  @apply flex divide-x-2 divide-p1-500 justify-center text-p1-700;
  li {
    @apply px-2;
  }
}
