.container {
  @apply px-5;
}

html {
  font-size: 16px;
}

.section {
  @apply relative py-8 lg:py-20;
  &--py-small {
    @apply py-9;
  }
}

.section-title {
  @apply  text-d5 text-p2-300 font-extrabold font-body my-2 lg:text-d2 ;
}

.section-text {
  @apply mt-4 block text-p2-500 font-light text-b4 font-body lg:mt-0;

  &__green{
    @apply text-p1-700 ;
  }
}

.section-content {
  @apply mt-5 lg:mt-11;
}

.content--medium{
  @apply sm:max-w-lg;
}

.slick-dots {
  @apply inline-flex justify-center items-center  w-full space-x-2   ; 
  li {
    @apply  w-3 h-3 rounded-full text-transparent bg-g1-500 ;
    &.slick-active {
      @apply bg-p1-500 w-6  h-2 ;
    }
  }
}

.slider__counter{
  @apply font-body text-d4 text-p1-500 hidden md:inline-block;
  bottom: 20px;
  right:30%;
  position: absolute;
  @screen 2xl {
    right: 35%;
  }
  @screen md {
    right: 30%;
  }
}
