@font-face {
  font-family: 'Macklin Text';
  src: url('/fonts/MacklinText-Regular.woff2') format('woff2'),
      url('/fonts/MacklinText-Regular.woff') format('woff'),
      url('/fonts/MacklinText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@import './button.scss';
.container {
  @apply px-5;
}

html {
  font-size: 16px;
}

.section {
  @apply relative py-8 lg:py-20;
  &--py-small {
    @apply py-9;
  }
}



.section-title {
  @apply  text-d5 text-p2-300 font-extrabold font-body my-2 lg:text-d2 ;
}

.section-text {
  @apply mt-4 block text-p2-500 font-light text-b4 font-body lg:mt-0;

  &__green{
    @apply text-p1-700 ;
  }
}

.section-content {
  @apply mt-5 lg:mt-11;
}

.section--flip {
  .section-card {
    @apply flex-row-reverse;
  }
}

.section--ask {
  background-image: url(/images/bg-ask.jpg);
  @apply bg-no-repeat bg-cover;
  .button {
    min-width: 243px;
  }
}

.section--pb-sm {
  @apply pb-9;
}

.section--deliver {
  padding-top: 0;
  @screen lg {
    @apply pt-20;
  }
}

.section-card {
  &__content {
    @apply space-y-5 mt-8 mb-4;
  }
  &__header {
    @apply flex items-baseline;
  }
  &__number {
    @apply text-white font-bold  w-10 h-10 rounded-full flex items-center justify-center mr-3;
  }
  &__title {
    @apply  text-black font-bold max-w-xl   ;
  }
  &__action {
    @apply space-y-3;
  }
  &__link {
    @apply text-black  font-bold flex items-center space-x-4;
  }
  &__details {
    .section-list {
      @apply space-y-2 mt-8 max-w-lg ml-0;
      > li {
        @apply bg-no-repeat flex;
        &::before {
          content: '';         
          background-repeat: no-repeat;
          background-size: 20px;
          width: 35px;
          height: 35px;
          margin-right: 15px;
          margin-top: 6px;
        }
      }
    }
  }
  &__image {
    @apply hidden;
    img {
      @apply rounded-sm;
    }
  }
  @screen lg {
    @apply flex items-center gap-20;
    .section-card__content {
      @apply my-0 w-1/2;
    }
    .section-card__action {
      @apply space-y-0 space-x-10 flex items-center;
      margin-top: 3rem !important;
    }
    .section-card__image {
      @apply block w-1/2;
    }
  }
}

//** Page List **//
.page-list {
  @apply flex flex-wrap p-5 lg:p-12;
  li {
    @apply flex items-baseline w-full mb-2;
    @screen md {
      flex: 0 0 50%;
    }
    @screen lg {
      flex: 0 0 33.33%;
    }
    @screen xl {
      flex: 0 0 25%;
    }
    a {
      @apply w-full h-full flex items-center;
    }
  }
}

//** Tab **//
.advise-content.advise-content__detail {
  .advise-content__image {
    .lightbox-toggle {
      img {
        @apply rounded-none;
      }
    }
  }
}

.g-step-card,
.advice-content {
  .lightbox-toggle {
    @apply rounded-3xl inline-flex w-full h-full;
    img {
      @apply rounded-3xl;
    }
    &::after {
      content: '';      
      background-size: 3.5rem;
      @apply w-14 h-14 bg-center absolute top-0 bottom-0 left-0 right-0 m-auto;
    }
  }
  @screen lg {
    .lightbox-toggle::after {
      background-size: 4rem;
      @apply w-16 h-16;
    }
  }
}

/*LIGHTBOX STYLE*/
.lightbox {
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 !important;
  @apply hidden fixed top-0 left-0 w-full h-full;

  a:not(.lightbox-close) {
    @apply inline-flex w-full h-full;
  }

  .lightbox-video {
    padding-bottom: 56%;
    @apply relative w-full overflow-hidden;
  }

  iframe {
    @apply absolute w-full h-full top-0 bottom-0 left-0 right-0 object-cover border-4 border-p1-500 rounded-md;
  }

  img {
    @apply block mx-auto;
  }

  .lightbox-column {
    @apply relative bg-white rounded-lg p-8 lg:p-12;
  }

  .lightbox-close.lightbox-toggle {
    @apply block absolute top-3 right-3 w-4 h-4 lg:top-5 lg:right-5;

    &:hover {
      @apply no-underline;
    }
    &::after {
      @apply hidden;
    }

    img {
      @apply mr-0;
    }
  }

  .lightbox-container {
    max-width: 500px;
    margin: 100px auto 25px;
    @screen lg {
      max-width: 70%;
    }
  }
}
