.hero{   
    @apply max-w-3xl  m-auto ;
    &__video{
        &-wrap{
            @apply relative;           
            padding-top:80%;
            max-width: 550px;
            margin: auto;
            img{
                @apply absolute top-0 right-0 left-0 bottom-0 w-full h-full cursor-pointer ;
                z-index: 1;
             }
            iframe{
                @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full;
            }  
            &.player {
                img{
                    @apply hidden ;
                }
            }
        } 
        
                  
    }
    &__content{ 
        @apply  relative z-10 -mt-16 sm:-mt-20   md:-mt-36;  
    }
    .hero-title{
        @apply  text-b1  text-p2-300  font-body font-extrabold    lg:mb-12 lg:text-d1;

       
    }
}
@screen md{

    .hero{
        .hero-title{
     
            font-size:79px;
            line-height:1;
            }
    }
   
}