.sidenav {
  padding: 0 !important;
  @apply fixed left-0 right-0 bottom-0 z-20;
  @apply lg:left-6 lg:right-auto lg:bottom-auto lg:top-6;

  &--active {
    &:before {
      content: '';
      @apply z-10 fixed inset-0 bg-black bg-opacity-75;
      @apply lg:hidden;
    }
  }
}
.sidenav__list {
  @apply relative z-30 flex items-center border-t-2   justify-between bg-p2-300;
  @apply lg:border-t-0 lg:rounded-lg lg:bg-p1-500 lg:justify-center lg:flex-col lg:p-2;
  > li {
    @apply lg:relative flex-grow;
  }
}

.sidenav__item {
  @apply flex justify-center items-center w-full h-11 relative;
  @apply lg:w-10 lg:h-10;
  span {
    @apply mr-2 z-40;
    @apply lg:hidden lg:rounded-md  lg:text-p1-500 lg:bg-white lg:py-2 lg:px-5 lg:absolute lg:right-auto lg:left-11 lg:shadow-sm lg:shadow-2xl;

    &:after {
      content: '';
      @apply hidden absolute bg-white -left-1.5 top-3.5 w-3 h-3 transform rotate-45;
      @apply lg:block;
    }
  }

  &:hover {
    @apply    bg-opacity-50 rounded;
    span {
      @apply lg:block lg:whitespace-nowrap;
    }
  }

  &.sidenav__item--active {
    span {
      @apply lg:hidden;
    }
  }
}

.sidenav__icon {
  @apply h-7 w-7 object-contain object-center;
  &--mobile {
    @apply lg:hidden;
  }
  &--desktop {
    @apply hidden lg:block;
  }
}

.sidenav__content {
  @apply absolute z-10 hidden bottom-11 mb-0.5 bg-p2-300 left-0 right-0 w-full rounded-t-xl;
  @apply lg:bg-white lg:top-0 lg:w-72 lg:left-12 lg:right-auto lg:bottom-auto lg:px-4 lg:rounded-xl;

  &:after {
    content: '';
    @apply absolute bg-white -left-1.5 top-3.5 w-3 h-3 transform rotate-45;
  }

  ul {
    @apply p-4 space-y-3 ;
  }
}

.sidenav__close {
  @apply w-4 h-4 m-3.5 lg:mx-0;
}

.sidenav__header {
  @apply flex border-b-2    text-b3 pl-3 justify-between;

  // &--contact {
  //   @apply flex items-center    pb-3 mb-3 border-b;
  // }
}

// .sidenav-contact {
//   .sidenav__header {
//     @apply border-0;
//     > span {
//       @apply hidden;
//     }
//     > img {
//       @apply hidden;
//     }
//   }
// }
